@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 99%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 33%;
  height: 320px;
  float: left;
}

#column-1 {
  background: red;
}

#column-2 {
  background: yellow;
}

#column-3 {
  background: blue;
}


/*---------- FOOTER ----------*/

footer {
  width: 99%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  .col-3 {
    width: 33%;
  
  }
  header {
    background-color: seagreen;
  }

  #column-1 {
    background-color: seashell;
  }

  #column-2 {
    background-color: salmon;
  }

  #column-3 {
    background-color: skyblue;
    width: 33%;
  }

  footer {
    background-color: sandybrown;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: aqua;
  }

  #column-1 {
    background-color: aquamarine;
  }

  #column-2 {
    background-color: blueviolet;
  }

  #column-3 {
    background-color: rosybrown;
  }

  footer {
    background-color: palevioletred;
  }
   .col-3 {
    width: 33%;
   }
}
